x-podman: &a1
  userns_mode: keep-id
  security_opt:
    - label=disable
x-logging: &a2
  driver: json-file
  options:
    mode: non-blocking
    max-buffer-size: 4m
    max-size: 200m
    max-file: "1"
x-common-environment: &a3
  TZ: ${TZ:-UTC}
x-resource-limits:
  # TODO - adjust if needed
  &a5
  deploy:
    resources:
      limits:
        memory: 512M
      reservations:
        memory: 128M
x-base: &a4
  <<: *a1
  restart: unless-stopped
  logging: *a2
  user: ${MAIN_UID:-1000}:${MAIN_GID:-1000}
  environment:
    <<: *a3
  volumes:
    - ${CONFIG_BASE_DIR}/mycroft:/home/ovos/.config/mycroft
    - ${DATA_BASE_DIR}/mycroft:/home/ovos/.local/share/mycroft
    - ${CACHE_BASE_DIR}/mycroft:/home/ovos/.cache/mycroft
    - ${STATE_BASE_DIR}/mycroft:/home/ovos/.local/state/mycroft
    - ${TMP_FOLDER}:/tmp/mycroft
    # ${CACHE_BASE_DIR}/ovos_gui:/home/ovos/.cache/ovos_gui
    - ${DATA_BASE_DIR}/precise-onnx:/home/ovos/.local/share/precise-onnx
    - ~/.config/pulse/cookie:/home/ovos/.config/pulse/cookie:ro
    - ${XDG_RUNTIME_DIR}/pipewire-0:${XDG_RUNTIME_DIR}/pipewire-0:ro
    - ${XDG_RUNTIME_DIR}/pulse:${XDG_RUNTIME_DIR}/pulse:ro
x-audio: &a6
  <<: *a4
  devices:
    - /dev/snd
  environment:
    <<: *a3
    PULSE_SERVER: unix:${XDG_RUNTIME_DIR}/pulse/native
    PULSE_COOKIE: /home/ovos/.config/pulse/cookie
    XDG_RUNTIME_DIR: ${XDG_RUNTIME_DIR}
    DBUS_SESSION_BUS_ADDRESS: unix:path=${XDG_RUNTIME_DIR}/bus
services:
  ovos_yaml_editor:
    <<: *a4
    container_name: ovos_yaml_editor
    hostname: ovos_yaml_editor
    image: jarbasai/ovos-yaml-editor:latest
    ports:
      - 9200:9200
    environment:
      # TODO - move to .env file
      EDITOR_USERNAME: admin
      EDITOR_PASSWORD: password
  ovos-skills-config-tool:
    <<: *a4
    container_name: ovos-skills-config
    hostname: ovos-skills-config
    image: ghcr.io/oscillatelabsllc/ovos-skill-config-tool:latest
    ports:
      - 8120:8000
    environment:
      # TODO - move to .env file
      OVOS_CONFIG_USERNAME: ovos
      OVOS_CONFIG_PASSWORD: ovos
  ovos_messagebus:
    <<:
      - *a4
      - *a5
    container_name: ovos_messagebus
    hostname: ovos_messagebus
    network_mode: host
    #image: jarbasai/ovos-messagebus:latest
    image: jarbasai/ovos-messagebus-rust:latest
  ovos_gui_websocket:
    <<:
      - *a4
      - *a5
    container_name: ovos_gui_websocket
    hostname: ovos_gui_websocket
    image: jarbasai/ovos-gui-websocket:latest
    network_mode: host
    depends_on:
      ovos_messagebus:
        condition: service_started
  ovos_phal:
    <<:
      - *a6
      - *a5
    container_name: ovos_phal
    hostname: ovos_phal
    image: jarbasai/ovos-phal:latest
    network_mode: host
    depends_on:
      ovos_messagebus:
        condition: service_started
  ovos_audio:
    <<:
      - *a6
      - *a5
    container_name: ovos_audio
    hostname: ovos_audio
    image: jarbasai/ovos-audio:latest
    network_mode: host
    depends_on:
      ovos_messagebus:
        condition: service_started
  ovos_core:
    <<:
      - *a6
      - *a5
    container_name: ovos_core
    hostname: ovos_core
    image: jarbasai/ovos-core:latest
    network_mode: host
    volumes:
      - ${NLTK_DIR}:/home/ovos/nltk_data
    depends_on:
      ovos_messagebus:
        condition: service_started
  ovos_listener:
    <<:
      - *a6
      - *a5
    container_name: ovos_listener
    hostname: ovos_listener
    network_mode: host
    # pick one
    image: jarbasai/ovos-dinkum-listener:latest
    #image: jarbasai/ovos-simple-listener:latest
    #image: jarbasai/ovos-classic-listener:latest
    depends_on:
      ovos_messagebus:
        condition: service_started
networks: {}

